<a href="https://colab.research.google.com/github/Alfianfakh/Machine-Learning/blob/main/Week1/MachineLearningModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name:Alfian Fakhrezi;

Campus:Telkom University;

Faculty: Electronic Engineering Faculty;

Departement: Computer Engineering;


Cr: https://www.kaggle.com/dansbecker/basic-data-exploration/tutorial

**Selecting Data For Modeling**

We'll start by picking a few variables using our intuition. Later courses will show you statistical techniques to automatically prioritize variables.

To choose variables/columns, we'll need to see a list of all columns in the dataset. That is done with the columns property of the DataFrame (the bottom line of code below).

In [14]:
import pandas as pd 

#connect to Google Drive
from google.colab import drive
drive.mount('/content/drive')

# save filepath to variable for easier access
melbourne_file_path = '../content/drive/My Drive/Machine Learning/Data Set/melb_data.csv'
# read the data and store data in DataFrame titled melbourne_data
melbourne_data = pd.read_csv(melbourne_file_path) 
melbourne_data.columns

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [15]:
# The Melbourne data has some missing values (some houses for which some variables weren't recorded.)
# We'll learn to handle missing values in a later tutorial.  
# Your Iowa data doesn't have missing values in the columns you use. 
# So we will take the simplest option for now, and drop houses from our data. 
# Don't worry about this much for now, though the code is:

# dropna drops missing values (think of na as "not available")
melbourne_data = melbourne_data.dropna(axis=0)

**Selecting The Prediction Target**

You can pull out a variable with dot-notation. This single column is stored in a Series, which is broadly like a DataFrame with only a single column of data.

We'll use the dot notation to select the column we want to predict, which is called the prediction target. By convention, the prediction target is called y. So the code we need to save the house prices in the Melbourne data is

In [16]:
y = melbourne_data.Price

**Choosing "Features"**

The columns that are inputted into our model (and later used to make predictions) are called "features." In our case, those would be the columns used to determine the home price. Sometimes, you will use all columns except the target as features. Other times you'll be better off with fewer features.

For now, we'll build a model with only a few features. Later on you'll see how to iterate and compare models built with different features.

We select multiple features by providing a list of column names inside brackets. Each item in that list should be a string (with quotes).

In [17]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Bedroom2', 'YearBuilt']

By convention, this data is called X

In [18]:
X = melbourne_data[melbourne_features]

reviewing data using the head method

In [19]:
X.describe()

             Rooms     Bathroom      Landsize     Bedroom2    YearBuilt
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940     2.902034  1964.081988
std       0.971079     0.711362    897.449881     0.970055    38.105673
min       1.000000     1.000000      0.000000     0.000000  1196.000000
25%       2.000000     1.000000    152.000000     2.000000  1940.000000
50%       3.000000     1.000000    373.000000     3.000000  1970.000000
75%       4.000000     2.000000    628.000000     3.000000  2000.000000
max       8.000000     8.000000  37000.000000     9.000000  2018.000000

In [20]:
X.head()

   Rooms  Bathroom  Landsize  Bedroom2  YearBuilt
1      2         1       156         2     1900.0
2      3         2       134         3     1900.0
4      4         1       120         3     2014.0
6      3         2       245         4     1910.0
7      2         1       256         2     1890.0

**Building Your Model**
You will use the scikit-learn library to create your models. When coding, this library is written as sklearn, as you will see in the sample code. Scikit-learn is easily the most popular library for modeling the types of data typically stored in DataFrames.

The steps to building and using a model are:

Define: What type of model will it be? A decision tree? Some other type of model? Some other parameters of the model type are specified too.
Fit: Capture patterns from provided data. This is the heart of modeling.
Predict: Just what it sounds like
Evaluate: Determine how accurate the model's predictions are.
Here is an example of defining a decision tree model with scikit-learn and fitting it with the features and target variable.

In [21]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

Many machine learning models allow some randomness in model training. Specifying a number for random_state ensures you get the same results in each run. This is considered a good practice. You use any number, and model quality won't depend meaningfully on exactly what value you choose.

We now have a fitted model that we can use to make predictions.

In [22]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Bedroom2  YearBuilt
1      2         1       156         2     1900.0
2      3         2       134         3     1900.0
4      4         1       120         3     2014.0
6      3         2       245         4     1910.0
7      2         1       256         2     1890.0
The predictions are
[1092500. 1465000. 1600000. 1876000. 1636000.]